<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<body ng-app="twis">
<div class="container-fluid" ng-controller="AppController">
    <div class="row">
        <div class="col-xs-12 twis-title">
            <span class="twis-title-acronym">TWIS&nbsp;-&nbsp;</span>
            <span class="twis-title-acronym">T</span>hat's&nbsp;
            <span class="twis-title-acronym">W</span>here&nbsp;
            <span class="twis-title-acronym">I</span>&nbsp;
            <span class="twis-title-acronym">S</span>topped&nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="text"
                   ng-model="asyncSelected"
                   placeholder="Follow TV Show by it's title"

                   uib-typeahead="twshow as twshow.name for twshow in getTvShowByTitle($viewValue)"
                   typeahead-loading="loadingTvShows"
                   typeahead-no-results="noResults"
                   typeahead-show-hint="true"
                   typeahead-min-length="3"
                   typeahead-on-select="onSelect($item)"
                   class="form-control"
                   typeahead-template-url="./template/tv-show-item.html">
            <i ng-show="loadingTvShows" class="glyphicon glyphicon-refresh"></i>

            <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
    </div>

    <div class="followedTvShows">
        <div ng-if="followedSeries.length> 0"
             ng-class="($last) ? 'row followedTvShowRow' : 'row followedTvShowRow followedTvShowRowBorder'"
             ng-repeat="followedTvShow in followedSeries">
            <div class="col-xs-9 title-overflow" ng-click="switchMode(followedTvShow)">{{followedTvShow.name}}</div>
            <div class="col-xs-3 col-xs-tvshow-button">
                <div ng-if="followedTvShow.mode !=='edit'" class="col-xs-3">
                    S{{followedTvShow.season | padToTwoChars}}E{{followedTvShow.episode | padToTwoChars}}
                </div>
                <button ng-if="followedTvShow.mode ==='edit'"
                        class="btn btn-danger btn-tvshow"
                        ng-click="unfollowTvShow(followedTvShow)">Unfollow
                </button>
            </div>

            <div ng-if="followedTvShow.mode ==='edit'" class="col-xs-9 row-edit-tvshow">
                <button class="btn btn-default btn-circle btn-tvshow"
                        ng-click="decreaseSeason(followedTvShow)">-
                </button>
                S{{followedTvShow.season | padToTwoChars}}
                <button class="btn btn-default btn-circle btn-tvshow btn-increase-season"
                        ng-click="increaseSeason(followedTvShow)">+
                </button>

                <button class="btn btn-default btn-circle btn-tvshow"
                        ng-click="decreaseEpisode(followedTvShow)">-
                </button>
                E{{followedTvShow.episode | padToTwoChars}}
                <button class="btn btn-default btn-circle btn-tvshow"
                        ng-click="increaseEpisode(followedTvShow)">+
                </button>
            </div>
            <div ng-if="followedTvShow.mode ==='edit'" class="col-xs-3 row-edit-tvshow col-xs-tvshow-button">
                <button class="btn btn-success btn-tvshow">Update</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <img src="./img/tmdb-logo.svg" class="themoviedb-logo"/>
        </div>
    </div>
</div>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/controllers.js"></script>
<script type="text/javascript" src="./app/filters.js"></script>
</body>
</html>