.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.themoviedb-logo {
    width: 100px;
    height: 71px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.twis-title {
    color: #999;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.twis-title-acronym {
    font-weight: 100;
    color: #999;
    font-size: xx-large;
}

.followedTvShows {
    padding-top: 20px;
    color: #999;
}

div.col-xs-9.title-overflow.ng-binding {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.followedTvShowRowBorder {
    border-bottom: 1px solid #999;
}

.followedTvShowRow {
    padding: 15px 0px 15px 0px;
}

.btn-tvshow {
    padding: 5px;
}

.btn-decrease-season {
    margin-right: 10px;
}

.row-edit-tvshow {
    margin-top: 5px;
}

.col-xs-tvshow-button {
    padding-left: 0;
}

.col-xs-tvshow-button .btn {
    width: 67px;
}
