.themoviedb-logo {
    width: 100px;
    height: 71px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.twis-title {
    color: #999;
    text-align: center;
    padding-bottom: 10px;
}

.twis-title-acronym {
    font-weight: 100;
    color: #999;
    font-size: xx-large;
}

